
		.dropdown:hover>.dropdown-menu {
			display: block;
			opacity: 1;
		}

		.dropdown .dropdown-menu{
			display: block; 
			opacity:0;
			-webkit-transition: all 200ms ease-in;
			-moz-transition: all 200ms ease-in;
			-ms-transition: all 200ms ease-in;
			-o-transition: all 200ms ease-in;
			transition: all 200ms ease-in;
		}

		.dropdown>.dropdown-toggle:active {
			/*Without this, clicking will make it sticky*/
			pointer-events: none;
		}

		.bg { 
			/* The image used */
			background-image: url("../img/background.jpg");

			/* Full height */
			height: 100%; 

			/* Center and scale the image nicely */
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;

			
		}
		.navbar {
			background-color: rgba(0, 0, 0, 0.9);
		}
		.footer {
			background-color: rgba(0, 0, 0, 0.9);
		}
		.dropdown-item a:hover { color: #000 }
		a{
			color:white;
		}